{% extends 'base.html.twig' %}

{% block title %}Todo
{% endblock %}
{% block stylesheets %}
	<style>
		.name {
			cursor: pointer
		}
	</style>
{% endblock %}
{% block body %}
	<div class="d-flex">
		{% set name = todo.nom %}
		<form method="post" action="{{ path('app_todo_toggle_state', {id: todo.id})}}">
			{% if todo.isDone %}
				<strike class="name">{{name}}</strike>
			{% else %}
				<span class="name">{{name}}</span>
			{% endif %}
		</form>
		<a class="btn btn-secondary ms-auto" href="{{ path('app_todo_edit', {'id': todo.id}) }}">Modifier</a>
		{{ include('todo/_delete_form.html.twig') }}
	</div>
	{% block javascripts %}
		<script defer>
			document.querySelectorAll('.name').forEach(e => {
e.addEventListener('click', function (event) {
document.querySelector('form').submit()
})
})
		</script>
	{% endblock %}
{% endblock %}
